<header>
  <% if back %>
    <%= link_to back do %>
      <i class="icon fas fa-chevron-left"></i>
    <% end %>
  <% else %>
    <i class="icon fas fa-bars"></i>
  <% end %>
  <h1><%= title %></h1>
  <i class="icon fas fa-search"></i>
</header>