
@use 'shared/base';

.category-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  background-color: white;
  display: block;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}