<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div class="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <%= render category.first_three_transactions %>
  <% end %>
</div>

<%= link "New category", new_category_path %>
